.app {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  overflow: hidden;
}

/* Colores */

.dark {
  background-color: #121212;
}

.light {
  background-color: #fff;
}

.orange {
  background-color: #ff8300;
}

.blue {
  background-color: #1691c2;
}
